$blue: #006ec5;
$grey: #585858;
$accent: whitesmoke;
$darkAccent: rgb(223, 223, 223);

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    font-family: "Tahoma";
    font-size:16px;
    line-height: 1.125;
}

ul {
    margin: 10px 0;
}

ul li {
    display: table;
}

body {
    min-height: 100%;
    background: $accent;
    background-size: 100% 100%;
    * {
        box-sizing: border-box;
    }
}

.wrapper {
    margin: auto;
    width: 80%;
    display: table;
    // padding-top: 30px;
}
.footer {
    background-color: #8abe8b;
    color: #191b17;
    padding: 10px;
    margin: 10px 0;
}
.fullpage-item {
    height: 200px;
}
h1  {
    display: table;
    margin: auto;
    text-align: center;
    padding: 20px 50px;
    background: #8abe8b;
    color:#191b17;
    border-radius: 0 0 7px 7px;
    margin-bottom: 35px;
  }
  .link {
    color: #191b17;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #8abe8b;
    // float: left;
    a {
        color: #191b17;
    }
  }
  