.todo-list {
    .item {
         margin: 20px 0;
         padding: 20px;
         border-radius: 7px; 
         background-color: rgb(223, 223, 223);
         position: relative;
         color: black;
         &.completed {
             background-color: rgb(223, 223, 223);
             h2 {
                 text-decoration: line-through; 
                 text-decoration-line: bold; 
             }
             
             p {
                 text-decoration: line-through;          
             }
         }
        .buttons {
             position: absolute;
             top: 10px;
             right: 10px;
             button {
                 padding: 4px;
                 background-color: #aed3af;
             }
        }
        p {
            span {
            color: #191b17;
            }          
        }
        h2 {
            span {
            color: #191b17;
            }          
        }
    }
 }